





<!DOCTYPE html>

<html>
<meta charset="UTF-8" lang="en">
<head>
    <title>Splash Screen</title>
    <link rel="stylesheet" href="./stylesheets/splash.css">
</head>


<body>

<div id="left"><table id="chessboard">


</table></div>
<div id="right">
                <h4>Statistics:</h4>
                <h5><%= gamesInitialized %> 
                    <%if (gamesInitialized != 1) { %>
                        games
                    <% } else { %>
                        game
                    <% } %>
                    initialized, 
                    <%= gamesCompleted %> 
                    completed,
                    <%= movesPlayed %> 
                    moves played.</h5>

                <button id="playButton" onclick="window.location.href = './game.html'">
                    <!--onclick="window.location.href = 'file:///C:/Users/leozi/myapp/public/game.html';"-->
                    Play Game!
                </button>



            </div>
</body>

<script>

    function chessboardBackground() {
        let chessboard = document.getElementById('chessboard');
        for (let i = 0; i < 9; i++) {
            let row = document.createElement('tr');
            row.setAttribute("class", "chessboard");
            chessboard.appendChild(row);
            for (let j = 0; j < 9; j++) {
                let cell = document.createElement('td');
                cell.setAttribute("class", "chessboard");
                row.appendChild(cell);
                cell.setAttribute("id", i + j);
            }
        }

    };
    chessboardBackground();


</script>

</html>