/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
} */

body {
  background-color: #eeeeee;
  font-family: "Gadugi", sans-serif;
  padding: 0;
  margin: 0;
}

#chessMenu {
  /*padding: 0 auto;*/
}

#Title {
  color: #121212;
  background-color: #CCCCCC;
  margin: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;

}

#forfeitButton {
  margin: 0 auto 50px auto;
  font-size: 14px;
  font-weight: bold;
  font-family: "Gadugi", sans-serif;
  width: 250px;
  height: 50px;
  position: relative;
  display: block;
  background-color: #CCCCCC;
  border: 1px solid #121212;
}


table.chessboard {
  margin: 80px auto;
  background: #999;
  border: 25px solid #333;
  border-collapse: collapse; /* */

  font-size: 60px;
}

td.chessboard {

  text-align: center;
  vertical-align: middle;
  width: 70px; height: 70px;
  border: 2px solid #333; /* */
}

table.empty {
  background-color: #EEEEEE;
}

tr.chessboard:nth-child(odd) td.chessboard:nth-child(even),
tr.chessboard:nth-child(even) td.chessboard:nth-child(odd) {
   background: white;
 }